# Archivos de Arduino IDE y compilación
.ino.hex
.ino.bin
.ino.elf
*.ino.hex
*.ino.bin
*.ino.elf
*.tmp
*.fcd
*.lss
*.eep
*.sym
*.map
*.su
*.suf

# Directorios de Arduino IDE
build/
build-*/
.pio/
.vscode/
.DS_Store
*.swp
*.bak
*~
.#*
/AppData/
/Arduino/
/Arduino15/

# Archivos de depuración y registro
*.log
*.err
*.dmp

# Archivos de backup y temporales
*~
#*#
.~*
*.bak
*.swp
.DS_Store

# Directorios de módulos/dependencias
node_modules/
venv/

# Ignorar archivos específicos del sistema
Thumbs.db
Desktop.ini